<div class="form-group">
    <label for="postTitle">Name</label>
    <input type="text" class="form-control" id="cmtName" placeholder="Enter name">
</div>
<div class="form-group">
    <label for="postText">Comment</label>
    <textarea class="form-control" rows="3" id="cmtText" placeholder="Enter comment"></textarea>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button id="submitComment" class="btn btn-default">Comment</button>
    </div>
</div>
